{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Form Elements</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Start selling your card</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Example of Card Informations</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="card-body">
                                                    <div class="card-body">
                                                        <form>
    
                                                            <!-- [Card Info Example] -->
                                                            <div class="form-group" style="text-align: center;">
                                                                <img src="./static/assets/images/Card_explain.png" width="450" height="505">
                                                            </div>
                                                            
                                                            <!-- [Upload Section] -->
                                                            <h5>Your Card Informations</h5>
                                                            <hr>
                                                            <label>Set / No. / Rarity</label>
                                                            <div class="input-group mb-3">
                                                                <select id="cardSet" class="form-control" onchange="disableRarity(this); disableNation(this);">
                                                                    <option value="">Please Select</option>
                                                                    <option value="0">D-BT01</option>
                                                                    <option value="0">D-SS01</option>
                                                                    <option value="0">D-BT02</option>
                                                                    <option value="1">D-LBT01</option>
                                                                    <option value="0">D-BT03</option>
                                                                    <option value="0">D-BT04</option>
                                                                    <option value="1">D-LBT02</option>
                                                                    <option value="0">D-BT05</option>
                                                                    <option value="0">D-SS02</option>
                                                                    <option value="2">D-BT06</option>
                                                                    <option value="3">D-LBT03</option>
                                                                    <option value="2">D-BT07</option>
                                                                    <option value="2">D-BT08</option>
                                                                    <option value="2">D-BT09</option>
                                                                </select>
    
                                                                <input type="text" class="form-control" placeholder="No.">
    
                                                                <select id="cardRarity" class="form-control" disabled="">
                                                                    <option>Please Select</option>
                                                                    <option id="DSR" hidden="">DSR</option>
                                                                    <option id="SEC" hidden="">SEC</option>
                                                                    <option id="FFR" hidden="">FFR</option>
                                                                    <option id="FR" hidden="">FR</option>
                                                                    <option id="SP" hidden="">SP</option>
                                                                    <option id="H" hidden="">H</option>
                                                                    <option>RRR</option>
                                                                    <option>RR</option>
                                                                    <option>R</option>
                                                                    <option>C</option>
                                                                    <option id="reprint" hidden="">Re</option>
                                                                    <option id="extra" hidden="">EX</option>
                                                                    <option id="token" hidden="">T</option>
                                                                </select>
                                                            </div>
    
                                                            <div class="form-group">
                                                                <label>Nation</label>
                                                                <select class="form-control" id="nation" disabled="">
                                                                    <option>Please Select</option>
                                                                    <option id="KS" hidden="">Keter Sanctuary (ケテルサンクチュアリ)</option>
                                                                    <option id="DE" hidden="">Dragon Empire (ドラゴンエンパイア)</option>
                                                                    <option id="BG" hidden="">Brandt Gate (ブラントゲート)</option>
                                                                    <option id="DS" hidden="">Dark States (ダークステイツ)</option>
                                                                    <option id="ST" hidden="">Stoicheia (ストイケイア)</option>
                                                                    <option id="LM" hidden="">Lyrical Monasterio (リリカルモナステリオ)</option>
                                                                </select>
                                                            </div>
                                                            
                                                            <label>Price</label>
                                                            <div class="input-group mb-3">
                                                              <div class="input-group-prepend">
                                                                  <span class="input-group-text">฿</span>
                                                              </div>
                                                              <input type="number" class="form-control" placeholder="Price">
                                                            </div>
    
                                                            <label>Image</label>
                                                            <div class="form-group">
                                                              <input type="file" id="img_input" accept="image/png, image/jpeg">
                                                          </div>
    
                                                          <button class="btn btn-primary" type="button">Submit</button>
                                                        </form>
                                                    </div>
    
                                                    <!-- [ Custom script ] -->
                                                    <script>
                                                         function disableRarity(cardset){
                                                            console.log(cardset.value)
                                                                if(cardset.value != ""){
                                                                    document.getElementById("cardRarity").disabled = false
                                                                }
    
                                                                if(cardset.value == 0 || cardset.value == 1){
                                                                    document.getElementById("SP").hidden = false
                                                                    document.getElementById("H").hidden = false
                                                                    document.getElementById("DSR").hidden = true
                                                                    document.getElementById("FFR").hidden = true
                                                                    document.getElementById("FR").hidden = true
                                                                    document.getElementById("SEC").hidden = true
                                                                    document.getElementById("reprint").hidden = true
                                                                    document.getElementById("extra").hidden = true
                                                                    document.getElementById("token").hidden = true
                                                                }
                                                                else if(cardset.value == 2 || cardset.value == 3){
                                                                    document.getElementById("SP").hidden = true
                                                                    document.getElementById("H").hidden = true
                                                                    document.getElementById("DSR").hidden = false
                                                                    document.getElementById("FFR").hidden = false
                                                                    document.getElementById("FR").hidden = false
                                                                    document.getElementById("SEC").hidden = false
                                                                    document.getElementById("reprint").hidden = false
                                                                    document.getElementById("extra").hidden = false
                                                                    document.getElementById("token").hidden = false
                                                                }
                                                        }
    
                                                        function disableNation(cardset){
                                                            if(cardset.value != ""){
                                                                document.getElementById("nation").disabled = false
                                                            }
    
                                                            if(cardset.value == 0 || cardset.value == 2){
                                                                document.getElementById("LM").hidden = true
                                                                document.getElementById("KS").hidden = false
                                                                document.getElementById("DE").hidden = false
                                                                document.getElementById("BG").hidden = false
                                                                document.getElementById("DS").hidden = false
                                                                document.getElementById("ST").hidden = false
                                                            }
                                                            else if(cardset.value == 1 || cardset.value == 3){
                                                                document.getElementById("LM").hidden = false
                                                                document.getElementById("KS").hidden = true
                                                                document.getElementById("DE").hidden = true
                                                                document.getElementById("BG").hidden = true
                                                                document.getElementById("DS").hidden = true
                                                                document.getElementById("ST").hidden = true
                                                            }
                                                        }
                                                    </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->

{% block javascripts %}{% endblock javascripts %}