{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Form Elements</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Start selling your card</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Example of Card Informations</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="card-body">
                                                    <div class="card-body">
                                                        <form method="POST">
    
                                                            <!-- [Card Info Example] -->

                                                            
                                                            <div class="form-group" style="text-align: center;">
                                                                <img src="/static/assets/images/Card_explain.png" width="450" height="505">
                                                            </div>
                                                            

                                                            
                                                            <!-- [Upload Section] -->
                                                            <h5>Your Card Informations</h5>
                                                            
                                                            {% if messages %}
                                                                {% for message in messages %}
                                                                  <center style="color: red;"><li {% if message.tags %} class="{{message.tags}}"  {% endif %} >{{message}}</li></center>
                                                                {% endfor %}
                                                            {% endif %}

                                                            {% if upper is not null or lower is not null or card_price_search is not null %}
                                                            <center>
                                                                <p>คุณต้องการจะขาย {{cardYouWantToSale.card_code}} {{cardYouWantToSale.card_name_new}}</p>
                                                            </center>
                                                            <center>
                                                            <p>now avergae is {{card_price_search}}</p>
                                                            <p>now upper is {{upper}}</p>
                                                            <p>and lower is {{lower}} </p>
                                                            </center>
                                                            {% endif %}

                                                            
                                                            {%csrf_token%}
                                                            <center>{{card_form.as_p}}</center>
                                                            <center>{{form.as_p}}</center>
                                                            <center><input type="submit" class="btn btn-primary shadow-2 mb-4" value="Submit">
                                                            </center> 
                                                        </form>
                                                    </div>
    
                                                   
                                            </div>
                                        </div>
                                    </div>
                                </div>






                              
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
    
{% block javascripts %}


{% endblock javascripts %}