{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Card&deck_info</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Card&deck_info</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">{{infomat.card_code}}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            
                                        </div>
                                        <div class="card-block">
                                            
                                            <div class="row">
                                                <div class="column" style="width: 50%;">
                                                  <h2>Card Or Deck Pic</h2>
                                                  <div style="text-align: center;">
                                                    <img src="/static/assets/img_upload{{infomat.card_photo.url}}">
                                                  </div>
                                                </div>
                                                <div class="column" style="width: 50%;">
                                                  <h2>Card & Deck Info</h2>
                                                  
                                                  <div class="Header_Namecard">
                                                   {{infomat.card_code}} {{infomat.card_name_new}}
                                                  </div>
                                                  <div class="card_info">
                                                    {% if infomat.effect_card is null %}
                                                        <p></p>
                                                    {% else %}
                                                        {{infomat.effect_card}}
                                                    {% endif %} 
                                                  </div>

                                                  <div class="card_info">
                                                    {% if infomat.second_effect_card is null %}
                                                        <p></p>
                                                    {% else %}
                                                        {{infomat.second_effect_card}}
                                                    {% endif %} 
                                                  </div>

                                                  <div class="card_info">
                                                    {% if infomat.third_effect_card is null %}
                                                        <p></p>
                                                    {% else %}
                                                        {{infomat.third_effect_card}}
                                                    {% endif %} 
                                                  </div>

                                                  <div class="card_info">
                                                    {% if infomat.fourth_effect_card is null %}
                                                        <p></p>
                                                    {% else %}
                                                        {{infomat.fourth_effect_card}}
                                                    {% endif %} 
                                                  </div>

                                                  <div class="card_info">
                                                    {% if infomat.fifth_effect_card is null %}
                                                        <p></p>
                                                    {% else %}
                                                        {{infomat.fifth_effect_card}}
                                                    {% endif %} 
                                                  </div>

                                                  <div class="price">
                                                    {{infomat.price_average}} บาท
                                                  </div>
                                                  <div style="padding-top: 50px;">


                                                   <a href="{% url 'get_card_info_regis' infomat.card_code %}"> 
                                                    <button type="button" class="btn btn-primary" title="" data-toggle="tooltip">You want to sale this card?</button>
                                                    </a>


                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div >
                                        test

                                        {% if sale_filter.exists %}

                                            <table style="width: 100%; font-size: 120%;">
                                                <thead>
                                                    <tr>
                                                        <th>วันที่ลงขาย</th>
                                                        <th>ผู้ขาย</th>
                                                        <th>ราคา</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for sale_fill in sale_filter %}
                                                        <tr>
                                                            <td>{{ sale_fill.day_created }}</td>
                                                            <td>{{ sale_fill.userNameWhoWantSale }}</td>
                                                            <td>{{ sale_fill.sale_price }}</td>
                                                            
                                                            {% if your_profile == sale_fill.userNameWhoWantSale %}
                                                            <td> <button type="button" class="btn btn-primary" title="" data-toggle="tooltip">
                                                                    edit your price
                                                                </button></td>
                                                            {% else %}
                                                            <td> <button type="button" class="btn btn-primary" title="" data-toggle="tooltip">
                                                                buy this card from {{ sale_fill.userNameWhoWantSale }}
                                                                </button></td>
                                                            {% endif %}
                                                            
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                        {% else %}
                                            <center><h1>No one sale this card yet</h1> </center>
                                        {% endif %}


                                        a {{your_profile}}
                                    </div>
                                </div>
                                
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
