{% extends "layouts/base.html" %}

{% block title %} UI Forms {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Form Elements</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Form Componants</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Form Elements</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Start selling your card</h5>
                                        </div>
                                        <div class="card-body">
                                            <h5>Example of Card Informations</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="card-body">
                                                    <div class="card-body">
                                                        <form method="POST">
    
                                                            <!-- [Card Info Example] -->
                                                            <div class="form-group" style="text-align: center;">
                                                                <img src="/static/assets/images/Card_explain.png" width="450" height="505">
                                                            </div>
                                                            

                                                            
                                                            <!-- [Upload Section] -->
                                                            <h5>Your Card Informations</h5>
                                                            <center>
                                                                <p>คุณต้องการจะขาย {{cardYouWantToSale.card_name_new}}</p>
                                                            </center>
                                                            
                                                            {%csrf_token%}
                                                            <center>{{card_form.as_p}}</center>
                                                            <center><input type="submit" class="btn btn-primary shadow-2 mb-4" value="Submit">
                                                            </center> 
                                                        </form>

                                                        aaaaa
                                                    </div>
    
                                                   
                                            </div>
                                        </div>
                                    </div>
                                </div>






                              
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
    
{% block javascripts %}
<!-- <script>
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    
    let nation_field = document.getElementById("id_cardFromNation")
    let card_field = document.getElementById("id_card_code")

    nation_field.addEventListener("change", get_nation_id)

    function get_nation_id(e){
        console.log(e.target.value)
        let nation_name = e.target.value    

        const data = { id: nation_name };

         
        let url ="{% comment %}  {% url 'getcardcode' %} {% endcomment %}"

            fetch(url, {
              method: "POST", // or 'PUT'
              headers: {
                "Content-Type": "application/json",
                'X-CSRFToken': csrftoken
              },
              body: JSON.stringify(data),
            })
              .then((response) => response.json())

              .then((data) => {
                console.log("Success:", data);
                card_field.innerHTML = '<option value= "" selected = "" >-----</option>'
                for(let i = 0 ; i < data.length; i++ ){
                    card_field.innerHTML += `<option value= " ${data[i]["card_code"]} " selected = "" >${data[i]["card_code"]}</option>`
                }
              })

              .catch((error) => {
                console.error("Error:", error);
              });

    }
    

</script> -->


{% endblock javascripts %}