{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->
                    <div class="page-header">
                        <div class="page-block">
                            <div class="row align-items-center">
                                <div class="col-md-12">
                                    <div class="page-header-title">
                                        <h5 class="m-b-10">Sample Page</h5>
                                    </div>
                                    <ul class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                                        <li class="breadcrumb-item"><a href="javascript:">Sample Page</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Central Trading Cardgame</h5>
                                        </div>
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="column" style="width: 50%;">
                                                  <h2>Sale?</h2>
                                                  <p>Test</p>

                                                  <table style="width: 100%;
                                                   text-align: center; border-collapse: collapse;">
                                                    <tbody>
                                                    <tr>
                                                    <td><img src="/static/assets/images/img_test/BT05-002EN-RRR.jpg" alt="van_test" class="Test_im"> a</td>
                                                    <td><img src="/static/assets/images/img_test/BT16-L04EN-LR.jpg" alt="van_test" class="Test_im">b</td>
                                                    <td><img src="/static/assets/images/img_test/PR-0279EN.jpg" alt="van_test" class="Test_im">c</td>
                                                    </tr>
                                                    </tbody>
                                                    </table>

                                                </div>
                                                <div class="column" style="width: 50%;">
                                                  <h2>auction?</h2>
                                                  <p>Test</p>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
