{% extends "layouts/base-fullscreen.html" %}

{% block title %} Register {% endblock %}

{% block content %}

    <div class="auth-wrapper">
        <div class="auth-content">
        
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather icon-user-plus auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Sign up</h3>


                    <form method="POST">
                        {%csrf_token%}

                        {% for field in form %}
                            <div>
                                <label for="formInput#text" style="padding-top: 5px;">{{field.label}}</label>
                                <div>{{field}}</div>
                                {% if field.help_text %}
                                <small>{{field.help_text}}</small>
                                {% endif %}

                                {% for error in field.errors %}
                                <p style="color: red;" >{{error}}</p>
                                {% endfor %}

                            </div>
                        {% endfor %}

                        
                        <input type="submit" class="btn btn-primary shadow-2 mb-4" value="Sign up">
                    </form>
                    

                    <p>
                    {% if messages %}
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{message.tags}}"  {% endif %} >{{message}}</li>
                            {% endfor %}
                        {% endif %}
                    </p>
                    
                    <p>{{msg}}</p>
                    <p class="mb-0 text-muted">Allready have an account? <a href="home/login_page.html"> Sign IN</a></p>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
